.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv
*.db
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
*.save
*.swp

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover